{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>About SplatSpace</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            Splat Space (previously known as Durham Makerspace) is a multidisciplinary workshop and hackerspace in downtown Durham. We are a 501(c)(3) non-profit, member-driven, member-funded organization. We are looking for crafters, engineers, mad scientists, artists, programmers, tinkerers, and makers of all kinds to join our organization.
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            We are a community of hackers and makers, teachers and students. Our ultimate goal is to reach out to each other and the surrounding community to share our passion for art, technology, and innovation. Through sharing this passion, Splat Space members contribute to the technical and artistic vibrancy of Durham, and the Triangle as a whole.
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            If you'd like to be involved, jump right in! If you've never heard of a makerspace or hackerspace before, don’t worry. Visit our FAQ for more details, or reach out to us directly via <a href="mailto:info@splatspace.org">e-mail</a> or our <a href="https://groups.google.com/group/durham-makerspace">Google group</a>. It may seem hard to believe that our only <strong>real goal</strong> is to create a community around collaboration and innovation, but it's true! And we want you involved, too.
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            Still interested? Join us for one of our monthly online meetings (until our weekly, in-person meetings resume) or request an in-person tour of Splat Space by emailing us at <a href="mailto:info@splatspace.org">info@splatspace.org</a>. Everyone is welcome!
        </div>
    </div>
</div>
{% endblock %}