<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Splat Space</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- <script src="client.js" defer></script> -->
        <script src="{{url_for('static',filename='client.js')}}" defer></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('membership')}}"><h5 class="text-white">Become A Member</h5></a></li>
                <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">About</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('about')}}">About SplatSpace</a>
                        <a class="dropdown-item" href="{{url_for('equipment')}}">Equipment</a>
                        <a class="dropdown-item" href="{{url_for('contact')}}">Contact</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('currentmembers')}}">Current Members</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">Donate</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('donate')}}">Donate</a>
                        <a class="dropdown-item" href="{{url_for('contributors')}}">Contributors</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://splatspace.miraheze.org/wiki/Main_Page" target="_blank">Wiki</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://www.meetup.com/splatspace/" target="_blank"><img src="{{url_for('static', filename='meetup.svg')}}" height="25px" width="25px" alt="Meetup"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/splatspace/" target="_blank"><img src="{{url_for('static', filename='instagram.svg')}}" height="25px" width="25px" alt="Instagram"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/splat_space" target="_blank"><img src="{{url_for('static', filename='twitter.svg')}}" height="25px" width="25px" alt="Twitter"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UC0be80d83KXrjhMe0FahJrg" target="_blank"><img src="{{url_for('static', filename='youtube.svg')}}" height="25px" width="25px" alt="YouTube"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/splatspace/" target="_blank"><img src="{{url_for('static', filename='facebook.svg')}}" height="25px" width="25px" alt="Facebook"/></a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
        <footer class="footer bg-light">
            <div class="container">
                <span class="text-muted">&copy;Splat Space 2022</span>
            </div>
        </footer>
    </body>
</html>