{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h2>
            Contributors
        </h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>A big thank you from all of us at Splat Space to those that have made donations. Splat Space would not be the organization it is today without your support.</p>
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h4>Individual Donors</h4>

        </div>
        <div class="col">
            <h4>Organization Donors</h4>
        </div>
    </div>
</div>
{% endblock %}