<!DOCTYPE html>
<html>
    <head>
        <title>SplatSpace - Contact</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href=".\index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href=".\membership.html">Become A Member</a></li>
                <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">About</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=".\about.html">About SplatSpace</a>
                        <a class="dropdown-item" href=".\equipment.html">Equipment</a>
                        <a class="dropdown-item active" href="#">Contact</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href=".\currentmembers.html">Current Members</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">Donate</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=".\donate.html">Donate</a>
                        <a class="dropdown-item" href=".\contributors.html">Contributors</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://splatspace.miraheze.org/wiki/Main_Page" target="_blank">Wiki</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://www.meetup.com/splatspace/" target="_blank"><img src="media/icons/meetup.svg" height="25px" width="25px" alt="Meetup"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/splatspace/" target="_blank"><img src="media/icons/instagram.svg" height="25px" width="25px" alt="Instagram"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/splat_space" target="_blank"><img src="media/icons/twitter.svg" height="25px" width="25px" alt="Twitter"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UC0be80d83KXrjhMe0FahJrg" target="_blank"><img src="media/icons/youtube.svg" height="25px" width="25px" alt="YouTube"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/splatspace/" target="_blank"><img src="media/icons/facebook.svg" height="25px" width="25px" alt="Facebook"/></a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="jumbotron text-center">
                <h2>Contact Us!</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Email</h4>
                    <p><a href="mailto:info@splatspace.org">info@splatspace.org</a></p>
                    <p>This is the preferred method of contacting us.</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Phone</h4>
                    <p><a href="tel:919-704-4250">919-704-4250</a></p>
                    <p>Best for when you are having trouble finding the space or gaining access during events. We are not a staff facility so the phone is not monitored.</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Address</h4>
                    <address>
                        800 N. Mangum St<br>
                        Durham, NC 27701
                    </address>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6455.538447617862!2d-78.89495300000002!3d36.001505!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ace479fdf44ce5%3A0xbba200889e8195ed!2s800%20N%20Mangum%20St%2C%20Durham%2C%20NC%2027701!5e0!3m2!1sen!2sus!4v1616278999186!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </body>
</html>