{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h2>Contact Us!</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Email</h4>
            <p><a href="mailto:info@splatspace.org">info@splatspace.org</a></p>
            <p>This is the preferred method of contacting us.</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Phone</h4>
            <p><a href="tel:919-704-4250">919-704-4250</a></p>
            <p>Best for when you are having trouble finding the space or gaining access during events. We are not a staff facility so the phone is not monitored.</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Address</h4>
            <address>
                800 N. Mangum St<br>
                Durham, NC 27701
            </address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6455.538447617862!2d-78.89495300000002!3d36.001505!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ace479fdf44ce5%3A0xbba200889e8195ed!2s800%20N%20Mangum%20St%2C%20Durham%2C%20NC%2027701!5e0!3m2!1sen!2sus!4v1616278999186!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
{% endblock %}