<!DOCTYPE html>
<html>
    <head>
        <title>SplatSpace - Contributors</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href=".\index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href=".\membership.html">Become A Member</a></li>
                <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">About</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=".\about.html">About SplatSpace</a>
                        <a class="dropdown-item" href=".\equipment.html">Equipment</a>
                        <a class="dropdown-item" href=".\contact.html">Contact</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href=".\currentmembers.html">Current Members</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">Donate</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=".\donate.html">Donate</a>
                        <a class="dropdown-item active" href="#">Contributors</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://splatspace.miraheze.org/wiki/Main_Page" target="_blank">Wiki</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://www.meetup.com/splatspace/" target="_blank"><img src="media/icons/meetup.svg" height="25px" width="25px" alt="Meetup"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/splatspace/" target="_blank"><img src="media/icons/instagram.svg" height="25px" width="25px" alt="Instagram"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/splat_space" target="_blank"><img src="media/icons/twitter.svg" height="25px" width="25px" alt="Twitter"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UC0be80d83KXrjhMe0FahJrg" target="_blank"><img src="media/icons/youtube.svg" height="25px" width="25px" alt="YouTube"/></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/splatspace/" target="_blank"><img src="media/icons/facebook.svg" height="25px" width="25px" alt="Facebook"/></a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="jumbotron text-center">
                <h2>
                    Contributors
                </h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>A big thank you from all of us at Splat Space to those that have made donations. Splat Space would not be the organization it is today without your support.</p>
                    <hr>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <h4>Individual Donors</h4>

                </div>
                <div class="col">
                    <h4>Organization Donors</h4>
                </div>
            </div>
        </div>
    </body>
</html>