{% extends "base.html" %}
{% block body %}
<div class="container">
            <div class="jumbotron text-center">
                <h2>Current Members</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Members can use the button below to access their payment information.</p>
                    <button class="btn-primary btn-lg">Click here to access Stripe</button>
                </div>
            </div>
        </div>
{% endblock %}