{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h2>Donate!</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Splat Space is a non-profit organization that intends to provide tools and a community for makers, artists and hackers in the RTP community. If you are interested in donating and helping us out, please click on the donate button below.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button class="btn-primary btn-lg">Reoccurring Donation</button>
        </div>
        <div class="col">
            <button class="btn-primary btn-lg">One-Time Donation</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>SplatSpace is also a charity listed on Amazon Smile! Amazon will donate 0.5% of the purchase price of items you buy. That adds up quick!</p>
            <p>Click the button below to assign SplatSpace as your charity on Amazon Smile.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a href="https://smile.amazon.com/ch/27-3411181" target="_blank"><button class="btn btn-outline-primary"><img src="{{url_for('static', filename='amazon-smile-300x80-1.png')}}"></button></a>
        </div>
    </div>
</div>
{% endblock %}