{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h2>Become a member</h2>
    </div>
    <div class="row pb-4">
        <div class="col text-center">
           <h5>We offer various levels of membership to fit your needs</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4>Full</h4>
            </div>
            <div class="card-body">
                <h4>$60 / mo</h4>
                <ul class="">
                    <li>24x7 Access</li>
                    <li>Invitation to all Splat Space meetings</li>
                    <li>Free or discounted workshops and classes (minus materials)</li>
                    <li>Free access to hold meetings at the space</li>
                    <li>Full voting rights at all meetings</li>
                </ul>
                <button class="btn btn-primary btn-lg">Full Membership</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4>Associate</h4>
            </div>
            <div class="card-body">
                <h4>$25 / mo</h4>
                <ul class="">
                    <li>Limited access to the space</li>
                    <li>Same benefits as the Full membership</li>
                </ul>
                <button class="btn btn-primary btn-lg">Associate Membership</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4>Student</h4>
            </div>
            <div class="card-body">
                <h4>$35 / mo</h4>
                <ul class="">
                    <li>All the benefits and access as the Full membership at a discounted rate for students</li>
                </ul>
                <button class="btn btn-primary btn-lg">Student Membership</button>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col align-items-center">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col align-items-center pb-2">
            Full and Student members receive a key fob for full access. There is a $15 refundable deposit.
        </div>
    </div>
    <div class="row">
        <div class="col align-items-center">
            <button class="btn btn-primary btn-lg">$15 Key Fob Deposit</button>
        </div>
    </div>
</div>
{% endblock %}